<body>
    <div class="middleContent">
        <div class="backgroundImg">
        </div>
        <div class="errorMessage">
            <h1> Welcome {{user.email}} </h1>
            
        </div>
    </div>

    <div class="sideBar">
        <div class="content">
            <h1> COLATZ </h1>
            <h2> SETTINGS </h2>
            <div class="text"> 
                <h1> You have access to the following settings  </h1>
                <ul>
                    <li>Change description of your profile</li>
                    <li>Change profile picture</li>
                    <li>Check your feedback messages  </li>
                </ul>
            </div>  

            <button> Show me the app </button> 
        </div>
    </div>
</body>