
<ng-template #descriptionTemplate>
    <form #description="ngForm" (ngSubmit)="submitFormHandler(description)">
    <label>description</label>
    <textarea name="description" #descriptionForm descriptionForm placeholder="NOT REQUIRED" >{{user.description}}</textarea>  
    <label>image url</label>
    <input name="imageURL" value="{{user.imageURL}}" #imageURL placeholder="NOT REQUIRED">
    <a *ngIf="!userConfirmData" href="#" (click)="confirmDataHandler($event)">Submit</a>
    
    <button *ngIf="userConfirmData" id="profileBtn">Change</button>
    </form>
</ng-template>


<body>
    <div class="middleContent">
        <div class="content">
            <div class="backgroundImg">
            </div>
            <div *ngIf="welcomePageUrl" class="errorMessage">
                <h1> Welcome {{user.email}} </h1>
            </div>
            <div *ngIf="imageURLString!.length > 40">
                <h1>Are you sure thats your picture?</h1>
                <img src="{{imageURLString}}">
            </div>
            <ng-container *ngIf="hideEditProfileUrl else descriptionTemplate"></ng-container>
        </div>
    </div>

    <div class="sideBar">
        <div class="content">
            <h1 > COLATZ </h1>
            <h2> SETTINGS </h2>
            <div class="text"> 
                <h1> You have access to the following settings  </h1>
                <ul>
                    <li (click)="viewProfile()">View profile</li>
                    <li (click)="editProfile()">Edit your profile</li>
                    <li (click)="feedback()">Check your feedback messages  </li>
                </ul>
            </div>  

            <button> Show me the app </button> 
        </div>
    </div>
</body>