
<ng-template #descriptionTemplate>
    <form #description="ngForm" (ngSubmit)="submitFormHandler(description, 'description')">
    <label>description</label>
    <textarea name="description" description></textarea>    
    <label>image url</label>
    <input name="description" description>
    <button id="profileBtn">Change</button>
    </form>
</ng-template>

<body>
    <div class="middleContent">
        <div class="content">
            <div class="backgroundImg">
            </div>
            <div *ngIf="welcomePageUrl" class="errorMessage">
                <h1> Welcome {{user.email}} </h1>
            </div>

            <ng-container *ngIf="hideEditProfileUrl else descriptionTemplate"></ng-container>
        </div>
    </div>

    <div class="sideBar">
        <div class="content">
            <h1 > COLATZ </h1>
            <h2> SETTINGS </h2>
            <div class="text"> 
                <h1> You have access to the following settings  </h1>
                <ul>
                    <li (click)="editProfile()" #description>Edit your profile</li>
                    <li #feedback>Check your feedback messages  </li>
                </ul>
            </div>  

            <button> Show me the app </button> 
        </div>
    </div>
</body>