<nav>
    <div class="imgBorder">
        <img src="assets/images/Capture.JPG" />
    </div>
    
    <div class="logo">
        <img src="assets/images/logo.png" alt="this is an image" />
    </div>

    

    <div class="navLinks">
        <ul>
            <li><a href="./index.html" id="home">HOME</a></li>
            <li><a href="./about.html" id="about">ABOUT</a></li>
            <li><a href="./contact.html" id="contacts">CONTACTS</a></li>
            <li><a href="./calculator.html" id="calculator">CALCULATOR</a></li>
            <li><a href="./statisticts.html" id="PRICING">INTERESTING STATISTICS</a></li>
        </ul>
    </div>

    <div class="subscribeDiv">
        <h1> SUBSCRIBE TO PYLANEWS </h1>
        <input placeholder="Enter Email Address"> 
        <p> Subscribe to recieve all kind of updates follow me on 
            <span>github</span><p>
    </div>
</nav>