<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400&lang=en">


<nav>
    <div class="imgBorder">
        <img src="assets/images/Capture.JPG" />
    </div>
    
    <div class="logo">
        <img src="assets/images/logo.png" alt="this is an image" />
    </div>

    

    <div class="navLinks">
        <ul>
            <li><a routerLink="/home" id="home">HOME</a></li>
            <li><a routerLink="/about" id="about">ABOUT</a></li>
            <div *ngIf="authenticated">
                <li><a routerLink="/contacts" id="contacts">CONTACTS</a></li>
                <li><a href="/calculator" id="calculator">CALCULATOR</a></li>
                <li><a href="#" id="PRICING">INTERESTING STATISTICS</a></li>
                <li><a href="#" id="PRICING">LOGOUT</a></li>
            </div>
            
            <div *ngIf="!authenticated">
                <li><a routerLink="/register" id="PRICING">REGISTER</a></li>
                <li><a href="/login" id="PRICING">LOGIN</a></li>
            </div>
        </ul>
    </div>

    <div class="subscribeDiv">
        <h1> SUBSCRIBE TO PYLANEWS </h1>
        <input placeholder="Enter Email Address"> 
        <p> Subscribe to recieve all kind of updates follow me on 
            <span>github</span><p>
    </div>
</nav>