
<div class="middleContent">
    <div class="backgroundImg">
    </div>
    <div class="errorMessage">
        <h1> NOT FOUND </h1>
        
    </div>
</div>

<div class="sideBar">
    <div class="content">
        <h1> COLATZ </h1>
        <h2> Oops :( ! We encountered an error </h2>
        <div class="text"> 
            <h1> Reasons you could get into this page</h1>
            <ul>
                <li>This content was recently deleted</li>
                <li>Typo in the link</li>
                <li>Bug (if you believe so don't hesitate to use the contact page) </li>
                <li>You are not authorized to access this content</li>
            </ul>
        </div>  

        <button> Show me the app </button> 
    </div>
</div>