
<body>

<div class="middleContent" style="">
    <form #registerForm="ngForm" (ngSubmit)="handleFormSubmit(registerForm)">
        <h1> LOGIN </h1>
        <h2 id="error" *ngIf="error">{{error}}</h2>
        <label>email</label>
        <input type="email" name="email" #emailInput="ngModel" ngModel email required>
        <label>password</label>
        <input name="password" password type="password" ngModel required>
        <button>SUBMIT</button>
    </form>
    
</div>

<div class="sideBar">
    <div class="content">
        <h1> COLATZ </h1>
        <h2> LOGIN PAGE </h2>
        <div class="text"> 
            <p> 
                Login in order to axcess features like<br> 
                <span>Colatz calculator</span><br>
                <span>Access to your profile</span><br>
                <span>Access to forums!</span>

            </p> 
        </div>  

        <button> Show me the app </button> 
    </div>
</div>

</body>
