<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/contact.css">
    
    <style> 
    
    </style>
</head>
<body>

    <nav>
        <div class="imgBorder">
            <img src="/images/Capture.JPG" alt="">
        </div>
        
        <div class="logo">
            <img src="/images/logo.png">
        </div>

        

        <div class="navLinks">
            <ul>
                <li><a href="./index.html" id="home">HOME</a></li>
                <li><a href="#" id="about">ABOUT</a></li>
                <li><a href="#" id="contacts">CONTACTS</a></li>
                <li><a href="./calculator.html" id="calculator">CALCULATOR</a></li>
                <li><a href="#" id="PRICING">PRICING</a></li>
            </ul>
        </div>

        <div class="subscribeDiv">
            <h1> SUBSCRIBE TO PYLANEWS </h1>
            <input placeholder="Enter Email Address"> 
            <p> Subscribe to recieve all kind of updates follow me on 
                <span>github</span><p>
        </div>
    </nav>

    <div class="middleContent">
        <div class="title">
            <h1> Let's get in touch</h1>
            <p> We're open for any suggestions or just have a chat :)</p>
        </div>

        <div class="contacts">
            <div class="contact">
                <img> 
                <p> <span>Adress:</span> Sofia, 443, Botevgradsko Shose blvd.</p>
            </div>

            <div class="contact">
                <img> 
                <p> <span>Phone:</span> +359 893864401 </p>
            </div>

            <div class="contact">
                <img> 
                <p> <span>Email:</span> ivan.yordanov.gt</p>
            </div>
        </div>
    </div>

    <div class="sideBar">
        
    </div>

    
    
</body>
</html>