<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/contact.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400&lang=en">
    
    <style> 
    
    </style>
</head>
<body>

    <nav>
        <div class="imgBorder">
            <img src="/images/Capture.JPG" alt="">
        </div>
        
        <div class="logo">
            <img src="/images/logo.png">
        </div>

        

        <div class="navLinks">
            <ul>
                <li><a href="./index.html" id="home">HOME</a></li>
                <li><a href="#" id="about">ABOUT</a></li>
                <li><a href="#" id="contacts">CONTACTS</a></li>
                <li><a href="./calculator.html" id="calculator">CALCULATOR</a></li>
                <li><a href="#" id="PRICING">PRICING</a></li>
            </ul>
        </div>

        <div class="subscribeDiv">
            <h1> SUBSCRIBE TO PYLANEWS </h1>
            <input placeholder="Enter Email Address"> 
            <p> Subscribe to recieve all kind of updates follow me on 
                <span>github</span><p>
        </div>
    </nav>

    <div class="middleContent">
        <div class="title">
            <h1> Let's get in touch</h1>
            <p> We're open for any suggestions or just have a chat :)</p>
        </div>

        <div class="contacts">
            <div class="contact">
                <img src="../images/locationIcon.png"> 
                <p> <span>Adress:</span> Sofia, 443, Botevgradsko Shose blvd.</p>
            </div>

            <div class="contact">
                <img src="../images/phoneIcon.png"> 
                <p> <span>Phone:</span> +359 893864401 </p>
            </div>

            <div class="contact">
                <img src="../images/arrowPlaneIcon.png"> 
                <p> <span>Email:</span> ivan.yordanov.gt@gmail.com</p>
            </div>
        
            
            <div class="contact">
                <img src="../images/globeIcon.png"> 
                <p> <span>Website:</span> https://www.pgzemedelie.com </p>
            </div>
        </div>

    </div>

    <div class="sideBar">
        <form>

            <h1> GET IN TOUCH </h1>

            <div class="nameEmail">
                <div class="name">
                    <label>FULL NAME</label>
                    <input placeholder="Name">
                </div>
                <div class="email">
                    <label>EMAIL ADDRESS</label>
                    <input placeholder="Email">
                </div>
            </div>
            <label>SUBJECT</label>
            <input id="subject" placeholder="Subject">
            <label>MESSAGE</label>
            <textarea placeholder="Message"></textarea>

            <button id="sendMessage">Send message</button>
        </form>        
    </div>
</body>

<script src="../js/"></script>
</html>