<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/index.css">
    
    <style> 
    
    </style>
</head>
<body>

    <nav>
        <div class="imgBorder">
            <img src="/images/Capture.JPG" alt="">
        </div>
        
        <div class="logo">
            <img src="/images/logo.png">
        </div>

        

        <div class="navLinks">
            <ul>
                <li><a href="./index.html" id="home">HOME</a></li>
                <li><a href="./about.html" id="about">ABOUT</a></li>
                <li><a href="./contact.html" id="contacts">CONTACTS</a></li>
                <li><a href="./calculator.html" id="calculator">CALCULATOR</a></li>
                <li><a href="#" id="PRICING">PRICING</a></li>
            </ul>
        </div>

        <div class="subscribeDiv">
            <h1> SUBSCRIBE TO PYLANEWS </h1>
            <input placeholder="Enter Email Address"> 
            <p> Subscribe to recieve all kind of updates follow me on 
                <span>github</span><p>
        </div>
    </nav>

    <div class="middleContent">
        <div class="backgroundImg">
        </div>
    </div>

    <div class="sideBar">
        <div class="content">
            <h1> COLATZ </h1>
            <h2> PylaAI Colatz Calculator </h2>
            <div class="text"> 
                <div class="littleBorder"></div>
                <p> 
                    PylaAI Colatz Calculator
                    is a simple calculator that
                    can calculate the needed 
                    amount of cycles to reach
                    the number 1 with any given number
                    using the colatz formula 
                    <span>3x+1</span>
                </p> 
            </div>  

            <button> Show me the app </button> 
        </div>
    </div>

    
    
</body>
</html>