<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/index.css">
    
</head>
<body>

    <nav>
        <div class="logo">
            <h1> PylaAI </h1>
        </div>

        <div class="navLinks">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact us</a>
            <a href="#">Calculator</a>
        </div>

        <div class="subscribeDiv">
            <h1> Subscribe to PylaCoorp </h1>
            <input placeholder="Enter Email Address"> 
            <h2> Copyright ©2022 All rights reserved </h2>
        </div>
    </nav>

    <div class="middleContent">
        <img src="/images/picture.jpg">
    </div>

    <div class="sideBar">
        <p> HOME </p>
        <h1> Colatz Algortihm Calculator </h1>
        <div class="text"> 
            <p> Very short info about colatz algortihm</p> 
        </div>  

        <button> Show me the app </button> 
    </div>

    
    
</body>
</html>