
<div class="middleContent">
    <div class="backgroundImg">
    </div>
    <div class="errorMessage">
        <h1> {{user?.email | email | shorten: 11}}</h1>
        <img [src]="user?.imageURL != null ? user?.imageURL : 'https://media.istockphoto.com/id/1213713342/photo/cat-with-food-driving-car-at-night.jpg?s=612x612&w=0&k=20&c=L_bRv97XsZNMgO4E84SZQjalIuFLMAuaEiicWCPWn3Q='">
        <button class="button" *ngIf="!currentUserProfile">MESSAGE</button>
    </div>
</div>

<div class="sideBar">
    <div class="content">
        <h1> DESCRIPTION </h1>
        <h2>  {{user?.description || 'no desc'}}</h2>
        <div class="text"> 
            <h1></h1>
            <ul>
                <li>Age: <span>19</span></li>
                <li>Gender: <span>Attack helicopter</span></li>
                <li>Hobbies: <span>'Driving' attack helicopters ;)</span></li>
                <li>Reason to register: <span>I Don't know lmao</span></li>
            </ul>
        </div>  

        <button *ngIf="!currentUserProfile"> ADD AS A FRIEND </button> 
    </div>
</div>