.middleContent {
    background: url('../images/cat2.png'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 39%;
  height: 100vh;
  margin-right: 10vw;
}

.content {
    margin-top: 10vh;
}

#about{
    color: #d3c41b;
    border-bottom: 3px solid #c1b211;
    padding: 0;
}

.aboutBox p {
    margin-left: 0;
}

.aboutBox p {
    height: 40vh;
    overflow-y: auto;
}