
.loadingBar {
    margin-left: 10vh;
    width: 60%;
    border: 3px solid indianred;
    border-radius: 20px;
}

.loadingBar h1 {
    color: red;
}

.bar {
    width: 10%;
    background-color: black;
    border-radius: 20px;
}