<body>
    <div class="middleContent">
            <form #loginForm="ngForm" (ngSubmit)="handleFormSubmit(loginForm)" >
                <h1> REGISTER </h1>
                <h1 id="error">{{error}}</h1>
                <label>email</label>
                <input type="email" name="email"  #emailInput="ngModel" ngModel email required>
                <label>password</label>
                <input name="password" password type="password" ngModel required>
                <label>repass</label>
                <input name="repass" repass type="password" ngModel required>
                <button>SUBMIT</button>
            </form>
            
        </div>

    <div class="sideBar">
        <div class="content">
            <h1> COLATZ </h1>
            <h2> REGISTER PAGE </h2>
            <div class="text"> 
                <p> 
                    REQUIRMENTS<br> <br>
                    <span>Valid email</span><br><br>
                    <span>*Password must cotain at least 12 characters</span><br><br>
                    <span>*Password must contain at least one: letter, number</span>
                </p> 
            </div>  
            <input>
            <button> Show me the app </button> 
        </div>
    </div>
</body> 